.DS_Store
county_turnout.csv
fedgrants_bystate_1988-2008.csv
fred_econ.csv
index.Rmd
index.md
popvote_1948_2020.csv
popvote_bystate_1948-2016.csv
protests.csv
protests_clean.csv
state_polls_1968-2024.csv
state_popvote_1948_2020.csv
state_turnout_1980_2022.csv
supreme_court_congressional_review.csv
supreme_court_precedents.csv
test.csv
train_post84.csv
train_post96.csv
