.DS_Store
07_Ground_Game_Lab_Blog_CLASS.R
07_Ground_Game_Lab_Blog_Code.R
campaign_events_geocoded.csv
campaigns_2016_2024.csv
corrected_ec_1948_2024.csv
county_demographics.csv
county_turnout.csv
demographics.csv
fedgrants_bystate_1988-2008.csv
fieldoffice_2004-2012_dems.csv
fieldoffice_2012-2016_byaddress.csv
fieldoffice_2012_bycounty.csv
fred_econ.csv
national_polls_1968-2024.csv
popvote_1948_2020.csv
popvote_bycounty_2012-2016_WI.csv
popvote_bystate_1948-2016.csv
state_polls_1968-2024.csv
state_popvote_1948_2020.csv
state_turnout_1980_2022.csv
